{% block litegraph %}
<canvas id='mycanvas' height="800px" width="800px" style='border: 1px solid'></canvas>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/litegraph-nodes.js"></script>
<script>
    Environment.graph = new LGraph();
    Environment.canvas = new LGraphCanvas("#mycanvas", Environment.graph);
    
    var node_const = LiteGraph.createNode("basic/const");
    node_const.pos = [200,200];
    Environment.graph.add(node_const);
    node_const.setValue(4.5);
    
    var node_watch = LiteGraph.createNode("basic/watch");
    node_watch.pos = [700,200];
    Environment.graph.add(node_watch);
    
    node_const.connect(0, node_watch, 0 );
    
    Environment.graph.start()
    Environment.ctx = document.getElementById("mycanvas").getContext("2d");
    Environment.ctx.canvas.width  = (window.innerWidth * 0.6);
    Environment.ctx.canvas.height = (window.innerHeight * 0.8);
</script>
{% endblock javascripts %}